.hdrCont {
  display: flex;
  flex-direction: row;
  padding: 15px;
  border-bottom: solid 0.5px;
  margin-bottom: 25px;
}
.homeLink {
  margin-left: 50px;
  flex: 1;
  color: red;
}
.link1 {
  color: blue;
  margin-right: 50px;
}
.link2 {
  color: green;
  margin-right: 50px;
}
